USE [master]
GO
/****** Object:  Database [MDServer]    Script Date: 2014/8/31 19:10:42 ******/
CREATE DATABASE [MDServer]
 ON  PRIMARY 
( NAME = N'MDServer', FILENAME = N'C:\Temp\Data\MDServer.mdf' , SIZE = 145408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MDServer_log', FILENAME = N'C:\Temp\Data\MDServer_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MDServer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MDServer]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2014/8/31 19:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[MailFlag] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[GetAllowMailUsers]    Script Date: 2014/8/31 19:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllowMailUsers]
(
	@Page int,
	@Count int
)
as
select Email,Name
from (select row_number() over(order by Id asc) as Row,Email,Name 
	  from [User] nolock
	  where MailFlag = 1) as tmp 
where Row between (@Page-1)*@Count+1 and @Page*@Count


GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 2014/8/31 19:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertUser]
(
	@Email nvarchar(128),
	@Name nvarchar(128),
	@MailFlag bit
)
as
insert into [User]
values(@Email, @Name, @MailFlag)


GO
USE [master]
GO
