<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 每次查询用户数量 -->
    <add key="UsersPerTime" value="10000"/>
    <!-- 每个数据库生成用户数量 -->
    <add key="UsersGeneratedPerServer" value="1500000"/>
    <!--  生成邮箱的域名 -->
    <add key="MailDomains" value="qq.com;163.com;1766935126.com;sina.com;yahoo.com.cn;hotmail.com;gmail.com;sohu.com;yahoo.cn;tom.com;yeah.net;21cn.com;vip.qq.com;139.com;263.net;sina.com.cn;live.cn;sina.cn;yahoo.com;foxmail.com;163.net;msn.com;eyou.com;yahoo.com.tw;huiseo.cn;csoftmail.cn;citiz.net;vip.sina.com;189.cn;etang.com;mingdao.com"/>
    <add key="MailServer" value="Mail server"/>
    <add key="MailUsername" value="Your account here"/>
    <add key="MailPassword" value="Your password here"/>
    <add key="NumRange" value="1-10"/>
    <add key="GetMailsPeriodSeconds" value="600"/>
    <add key="ClearConsolePeriodSeconds" value="60"/>
  </appSettings>
  <connectionStrings>
    <add name="MDServer" connectionString="Data Source=(local);Initial Catalog=MDServer;Integrated Security=True;pooling=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>